[Desktop Entry]
Name=Envol 
Comment=Französisch lernen und üben
Exec=/usr/share/bin/envol
Terminal=false
Type=Application
Icon=envol5.png
Categories=Application;Education;
