[Desktop Entry]
Name=Envol 5 
Comment=Französisch lernen und üben
Exec=/usr/share/bin/envol5
Terminal=false
Type=Application
Icon=envol5.png
Keywords="lp21 französisch"
Categories=Application;Education;
